<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>FK_User</th>
            <th>FK_Store</th>
            <th>Commentario</th>
        </tr>
    </thead>
    <tbody>
        {{#each arrComments}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.fk_users}}</td>
                <td>{{this.fk_store}}</td>
                <td>{{this.comment}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>